#creation_box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#send_button {
    margin: 20px;
    transform: translate(70%, -50%);
}

.error {
    color: red;
}