.hide {
    background-color: black;
}

#entire_name {
    font-size: 39px;
    line-height: 1.5em;
}

#entire_text {
    line-height: 1.5em;
}

#text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 80px;
}

#name {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#start_button {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#restart_button {
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#save_button {
    position: absolute;
    top: 460px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#win {
    position: absolute;
    font-size: 39px;
    top:100px;
}

.not-found {
    background-color: rgb(240, 7, 7);
}

a:link {
    text-decoration: none;
}
a:visited {
    color: black;
}

pre {
    white-space: pre-wrap; /* Preserve line breaks */
    word-wrap: break-word; /* Allow word wrapping */
}

.text-container {
    position: absolute;
    top: 450px;
    left: 20px;
    width: 500px;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(200, 200, 200);
    table-layout: fixed;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 1px 10px;
}

#texts {
    position: absolute;
    table-layout: fixed;
    /* width: 400px; */
    top: 100px;
    left: 1045px;

}
td>div {
    width: 400px;
    overflow: hidden;
}

#texts>tr>td {
    cursor: pointer;
}

#text_timer {
    position: absolute;
    top: 383px;
    left: 175px;
}

#new_word {
    position: absolute;
    top: 420px;
    left: 193.225px;
    transform: translate(-50%, 0%);
}

tr>td {
    text-align: center;
    vertical-align: middle;
    height: 50px;
    overflow: hidden;
}

.delete {
    color: rgb(233, 37, 11);
}

#add_button_min {
    position: absolute;
    top: 370px;
    left: 150px;
    width: 20px;
}

#remove_button_min {
    position: absolute;
    top: 395px;
    left: 150px;
    width: 20px;
}

#add_button_sec {
    position: absolute;
    top: 370px;
    left: 215px;
    width: 20px;
}

#remove_button_sec {
    position: absolute;
    top: 395px;
    left: 215px;
    width: 20px;
}