.hide {
    background-color: black;
}

.not-found {
    background-color: red;
}

#entire_name {
    font-size: 39px;
    line-height: 1.5em;
}

#entire_text {
    line-height: 1.5em;
}

#text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 80px;
}


#name {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#start_button {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#restart_button {
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#new_word {
    position: absolute;
    top: 420px;
}

#win {
    position: absolute;
    font-size: 39px;
    top:100px;
}

a:link {
    text-decoration: none;
}
a:visited {
    color: black;
}

pre {
    white-space: pre-wrap; /* Preserve line breaks */
    word-wrap: break-word; /* Allow word wrapping */
}

.text-container {
    position: absolute;
    top: 450px;
    left: 20px;
    width: 500px;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(200, 200, 200);
    table-layout: fixed;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 1px 10px;
}

td {
    overflow: hidden;
}

#texts {
    position: absolute;
    top: 100px;
    left: 1045px;
}

#text_timer {
    position: absolute;
    top: 400px;
    left: 175px;
}

.scrollbox {
    overflow: scroll;
    height: 50px;
}