#text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 80px;
}

#title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#start_button {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#save_button {
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translate(-50%, 0%);
}

a:link {
    text-decoration: none;
}
a:visited {
    color: black;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(200, 200, 200);
    table-layout: fixed;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 1px 10px;
}

#texts {
    position: absolute;
    top: 100px;
    left: 1245px;
    
}
td>div {
    height: 20px;
    overflow: hidden;
}

.col1 {
    width: 400px;
}

.col2 {
    width: 50px;
}

#texts>tbody>tr>td>div {
    cursor: pointer;
}

tr>td {
    text-align: center;
    vertical-align: middle;
    height: 50px;
    overflow: hidden;
}

.delete {
    color: rgb(233, 37, 11);
}

#add_button_min {
    position: absolute;
    top: -5px;
    left: -25px;
    width: 20px;
}

#remove_button_min {
    position: absolute;
    top: 20px;
    left: -25px;
    width: 20px;
}

#add_button_sec {
    position: absolute;
    top: -5px;
    left: 65px;
    width: 20px;
}

#remove_button_sec {
    position: absolute;
    top: 20px;
    left: 65px;
    width: 20px;
}


#timer {
    position: absolute;
    top: 383px;
    left: 175px;
}

#text_timer {
    position: absolute;
    left: 11px;
}
